$menu-item-border-color: #e5e5e5;
$menu-item-input-background: #ffffff;
$menu-item-input-border-color: #dcdcdc;
$menu-item-plus-button-background: #48912a;
$menu-item-product-text-color: #ff6508;

.menu-item-container {
  background: rgba(239, 239, 239, 0.0001);
  border: 1px solid $menu-item-border-color;
  box-sizing: border-box;
  height: 74px;
  width: 100%;
}

.menu-item-input {
  width: 27px;
  height: 20px;
  background: $menu-item-input-background;
  border: 1px solid $menu-item-input-border-color;
  box-sizing: border-box;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.258823);
  border-radius: 2px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #333333;
  outline: none;
  margin: 11px 0 0 16px;
}

.plus-btn {
  width: 30px;
  height: 20px;
  background: $menu-item-plus-button-background;
  border-radius: 2px;
  outline: none;
  border: none;
  margin: 11px 0 0 5px;
}

.product-name {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  color: $menu-item-product-text-color;
  margin: 13px 0 0 5px;
  cursor: pointer;
}

.product-description {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #333333;
  max-width: 477px;
  margin: 4px 0 0 5px;
}

.product-price {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  color: $menu-item-product-text-color;
  margin: 13px 15px;
  flex-grow: 1;
}
