$basket-background: #ffffff;
$basket-border-color: #dcdcdc;
$basket-header-background: #9d201a;
$basket-header-color: #ffffff;
$basket-address-background: #f5d66f;
$basket-address-color: #000000;

.basket-container {
  width: 239px;
  height: 147px;
  background: $basket-background;
  box-sizing: border-box;
}

.basket-header {
  width: 100%;
  height: 35px;
  background: $basket-header-background;
  color: $basket-header-color;
  padding: 9px 0 10px 11px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.basket-address {
  width: 100%;
  height: 35px;
  background: $basket-address-background;
  color: $basket-address-color;
  padding: 9px 0 10px 11px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.basket-content {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  padding-left: 11px;
  justify-content: left;
  align-items: center;
  border: 1px solid $basket-border-color;
  border-radius: 0 0 4px 4px;
  width: 100%;

  .basket-content-empty-text {
    margin-left: 10px;
  }
}

.basket-product-name {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0;
  font-size: 12px;
  font-weight: normal;
}

.basket-product-input {
  width: 27px;
  height: 20px;
  background: $basket-background;
  border: 1px solid $basket-border-color;
  box-sizing: border-box;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.258823);
  border-radius: 2px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #333333;
  outline: none;
}

.basket-product-price {
  width: 50px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
}

.trash-button {
  outline: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.total-price {
  margin-right: 23px;
}
