.info-container {
  position: relative;
  width: 746px;
  height: 153px;
  background: linear-gradient(272.15deg, #F8F9FA 1.81%, rgba(248, 249, 250, 0.0001) 1.84%, #EFF0F2 89.87%);
}

.restaurant-info-name {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  position: absolute;
  top: 22px;
  left: 100px;
}

.restaurant-super-delivery {
  border: 0.5px solid #EC9922;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  top: 60px;
  left: 100px;
  padding: 5px;
  width: 38px;
  height: 46px;
}

.restaurant-speed {
  width: 41px;
  height: 46px;
  position: absolute;
  top: 60px;
  left: 150px;
  background: #ABC44C;
  border-radius: 2px;
}

.restaurant-service {
  width: 41px;
  height: 46px;
  position: absolute;
  top: 60px;
  left: 200px;
  background: #ABC44C;
  border-radius: 2px;
}

.restaurant-flavour {
  width: 41px;
  height: 46px;
  position: absolute;
  top: 60px;
  left: 250px;
  background: #ABC44C;
  border-radius: 2px;
}

.restaurant-badge-content {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5px;
}

.restaurant-point {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.min-price-container {
  position: absolute;
  top: 60px;
  left: 325px;
}

.info-header {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.info-value {
  margin-top: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.delivery-time-container {
  position: absolute;
  top: 60px;
  left: 400px;
}
